<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conteúdos</title>
  <!-- Incluindo Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">StudyCards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/disciplina">Disciplinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/conteudo/">Conteudos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/cartao/">Cartões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/admin/">Administração</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <h2 class="mb-4">Adicionar Conteúdo:</h2>
    <form action="/conteudo/" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="nome_conteudo">Nome:</label>
          <input type="text" class="form-control" id="nome_conteudo" name="nome_conteudo">
      </div>
      <div class="form-group">
        <label for="descricao_conteudo">Descrição:</label>
        <input type="text" class="form-control" id="descricao_conteudo" name="descricao_conteudo">
    </div>
    <div class="form-group">
        <label for="disciplina">Disciplina:</label>
        <select class="form-control" id="disciplina" name="disciplina">
            {% for Disciplina in disciplina %}
                <option value="{{Disciplina.id}}">{{ Disciplina.nome_disciplina }}</option>
            {% endfor %}
        </select>
    </div>
      <button type="submit" class="btn btn-light mt-3 btn-lg btn-block">Salvar</button>
    </form><br>      
  </div>
  
  <div class="container mt-5">
    <h2 class="mb-4">Conteúdos Cadastrados:</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Título</th>
          <th scope="col">Descrição</th>
          <th scope="col">Disciplina</th>
        </tr>
      </thead>
      <tbody>
        {% for Conteudo in conteudos %}
        <tr>
          <td>{{Conteudo.nome_conteudo}}</td>
          <td>{{Conteudo.descricao_conteudo}}</td>
          <td>{{Conteudo.disciplina}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  

  <!-- Incluindo jQuery e Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
